# Projeto 1 - Ci√™ncia dos Dados

Nome: Jonas Bonf√° Pelegrina

Nome: Ricardo Mour√£o Rodrigues Filho

Aten√ß√£o: Ser√£o permitidos grupos de tr√™s pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisar√£o fazer um question√°rio de avalia√ß√£o de trabalho em equipe

## Introdu√ß√£o:

O Nosso trabalho consiste em um tema muito saboroso dependendo aos olhos de quem v√™, ou melhor, de quem saboreia! O t√≥pico que desejamos trabalhar √© o "Big Mac", o famoso sandu√≠che do "McDonalds". Mas ser√° que as pessoas possuem um sentimento positvo em rela√ß√£o a ele?

Com isso, vamos analisar "tweets" de usu√°rios do Twitter avaliando o quanto aquela informa√ß√£o √© relevante para nossa classifica√ß√£o. 

Ent√£o qual √© o crit√©rio para uma classifi√ß√£o relevante?

- Se o tweet possui um sentimento positivo em rela√ß√£o ao "big Mac", ele recebe uma classifica√ß√£o "1";
- Caso n√£o, ele recebe uma classifica√ß√£o "0".

Ademais, usamos o *Classificador Naive-Bayes* para nos ajudar nos c√°lculos mat√©maticos.

<img src="https://veja.abril.com.br/wp-content/uploads/2016/07/big-mac-mc-donalds.jpg?quality=70&strip=info&resize=680,453" alt="foto do bigmac">

___
Carregando algumas bibliotecas:

In [28]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
from IPython.display import display
pd.options.display.max_rows = 13

In [29]:
print('Esperamos trabalhar no diret√≥rio')
print(os.getcwd())

Esperamos trabalhar no diret√≥rio
/Users/jonaspelegrina/OneDrive - Insper - Institudo de Ensino e Pesquisa/CieÃÇncia dos dados/Projeto01_etapa2/P1

___
## Montando um Classificador Naive-Bayes:

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador. Carregando a base de dados com os tweets classificados como relevantes e n√£o relevantes:

In [30]:
filename = 'big mac.xlsx'

In [31]:
train = pd.read_excel(filename)
train['Classifica√ß√£o']=train['Unnamed: 1']
del train['Unnamed: 1']
train

                                           Treinamento  Classifica√ß√£o
0       @srtaa_reisp ainda me realizo com esse big mac              1
1    @nxx0hx @g1 excesso de big mac e coca-cola no ...              1
2    acordei com um big mac me esperando na mesa \n...              1
3                    bateu vontade de comer um big mac              1
4         rt @fee_araaujo: queria almo√ßar um big mac üò≠              1
..                                                 ...            ...
295  quem usa a frase ‚Äútem p√£o com ovo se achando b...              0
296                         1 fav e eu pe√ßo um big mac              0
297  rt @carloscalmeida3: fala q √© socialista/comun...              0
298  @spampijoana ao menos contigo estou descansado...              0
299  @gosgotica @enzolavinsky era s√≥ pela primeira ...              0

[300 rows x 2 columns]

### Removendo informa√ß√µes desnecess√°rias:

In [32]:
import re 

# Fun√ß√£o que remove pontua√ß√£o
def cleanup(texto):
    pontuacao = '[\/!-.:?;]'
    padroniza√ß√£o = re.compile(pontuacao)
    texto_substituido = re.sub(padroniza√ß√£o, '', texto)
    return texto_substituido

for i in range(300): 
    # Usamos o m√©todo replace() para substituir uma frase especificada por outra frase especificada.
    # Removendo pontua√ß√£o com o replace
    train = train.replace(train['Treinamento'][i], cleanup(train['Treinamento'][i]))
    
    # Removendo 'rt' com replace
    if train['Treinamento'][i][:2] == 'rt':
        train = train.replace(train['Treinamento'][i], train['Treinamento'][i][3:])
    
    # Removendo '\n' com o replace
    train['Treinamento'] = train['Treinamento'].str.replace('[\n]','')
    
    # Deixando todas as letras min√∫sculas com replace:
    # O m√©todo lower() retorna uma string em que todos os caracteres s√£o min√∫sculos
    train = train.replace(train['Treinamento'][i], train['Treinamento'][i].lower())

In [33]:
train

                                           Treinamento  Classifica√ß√£o
0       @srtaa_reisp ainda me realizo com esse big mac              1
1    @nxx0hx @g1 excesso de big mac e cocacola no c...              1
2    acordei com um big mac me esperando na mesa ai...              1
3                    bateu vontade de comer um big mac              1
4             @fee_araaujo queria almo√ßar um big mac üò≠              1
..                                                 ...            ...
295  quem usa a frase ‚Äútem p√£o com ovo se achando b...              0
296                         1 fav e eu pe√ßo um big mac              0
297  @carloscalmeida3 fala q √© socialistacomunista ...              0
298  @spampijoana ao menos contigo estou descansado...              0
299  @gosgotica @enzolavinsky era s√≥ pela primeira ...              0

[300 rows x 2 columns]

### *Tweets* relavantes

In [34]:
# tweets relevantes
tweets_1 = train.loc[(train['Classifica√ß√£o'] == 1)]
tweets_1.head()

                                         Treinamento  Classifica√ß√£o
0     @srtaa_reisp ainda me realizo com esse big mac              1
1  @nxx0hx @g1 excesso de big mac e cocacola no c...              1
2  acordei com um big mac me esperando na mesa ai...              1
3                  bateu vontade de comer um big mac              1
4           @fee_araaujo queria almo√ßar um big mac üò≠              1

### *Tweets* irrelevantes:

In [35]:
# tweets irrelevantes
tweets_0 = train.loc[(train['Classifica√ß√£o'] == 0)]
tweets_0.head()

                                           Treinamento  Classifica√ß√£o
150  vem comer seu big mac sem queijo e sem maiones...              0
151  @ruizeto_big_mac bruh ahahahahahahahahahahah t...              0
152  fala q √© socialistacomunista ataca o capitalis...              0
153           pedi big mac e matei minha vontade credo              0
154  @andrey1980 siiiiim eu nem sabia o que era big...              0

### Probabilidade do *tweet* ser relevante (P_1):

In [36]:
P_1 = tweets_1.Treinamento.count()/train.Treinamento.count()
print('A probabilidade dos tweets relevantes √©: {0}' .format(P_1))

A probabilidade dos tweets relevantes √©: 0.5

### Probabilidade do *tweet* ser irrelevante (P_0):

In [37]:
P_0 = tweets_0.Treinamento.count()/train.Treinamento.count()
print('A probabilidade dos tweets irrelevantes √©: {0}' .format(P_0))

A probabilidade dos tweets irrelevantes √©: 0.5

### Frequ√™ncia absoluta das palavras que aparecem nos *tweets* relevantes:

In [38]:
# Formando um texto com todas as palavras relevantes nele:
texto_1 = " ".join(tweets_1['Treinamento'])

#transformando o texto armazenado, em um pd.series usando a fun√ß√£o split(), quebrando cada palavra do texto:
series_1 = pd.Series(texto_1.split())
#Contabilizando as palavras no texto relevante:
series_1 = series_1.value_counts()
print('O n√∫mero de palavras totais no grupo de relevantes √©: {0}'.format(series_1.sum()))
print('O n√∫mero de palavras totais, n√£o repetidas, no grupo de relevantes √©: {0}'.format(len(series_1)))

O n√∫mero de palavras totais no grupo de relevantes √©: 1799
O n√∫mero de palavras totais, n√£o repetidas, no grupo de relevantes √©: 621

### Frequ√™ncia absoluta das palavras que aparecem nos *tweets* irrelevantes:

In [39]:
# Formando um texto com todas as palavras relevantes nele:
texto_0 = " ".join(tweets_0['Treinamento'])

#transformando o texto armazenado em uma s√©rie usando a fun√ß√£o split(), quebrando cada palavra do texto:
series_0 = pd.Series(texto_0.split())
#Contabilizando as palavras no texto irrelevante:
series_0 = series_0.value_counts()
print('O n√∫mero de palavras totais no grupo de irrelevantes √©: {0}'.format(series_0.sum()))
print('O n√∫mero de palavras totais, n√£o repetidas, no grupo de irrelevantes √©: {0}'.format(len(series_0)))

O n√∫mero de palavras totais no grupo de irrelevantes √©: 2367
O n√∫mero de palavras totais, n√£o repetidas, no grupo de irrelevantes √©: 903

### Frequ√™ncia absoluta total:

In [40]:
# Formando um texto total com todas as palavras nele:
texto_total = texto_1 + texto_0
#transformando o texto armazenado em uma s√©rie usando a fun√ß√£o split(), quebrando cada palavra do texto:
series = pd.Series(texto_total.split())
#Contabilizando as palavras no texto total:
series = series.value_counts()
print('O n√∫mero de palavras totais √©: {0}'.format(series.sum()+1))
print('O n√∫mero de palavras totais, n√£o repetidas, √©: {0}'.format(len(series)))

O n√∫mero de palavras totais √©: 4166
O n√∫mero de palavras totais, n√£o repetidas, √©: 1281

### Que conclus√µes podemos tomar de acordo com as frequ√™ncias absolutas calculadas?  <br>
<ul>
    <li>A probabilidade de uma palavra ser relevante $P(1)$ pode ser achada;</li>
    <li>A probabilidade de uma palavra ser irrelevante $P(0)$ pode ser achada.</li>
</ul>

In [41]:
# Achando P(1)
P_palavra_1 = len(texto_1.split())/len(texto_total.split())
P_palavra_1

0.4319327731092437

In [42]:
# Achando P(0)
P_palavra_0 = len(texto_0.split())/len(texto_total.split())
P_palavra_0

0.5683073229291716

___
## Verificando a performance do Classificador:

Agora voc√™ deve testar o seu classificador com a base de Testes. Carregando a base de dados com os tweets classificados como relevantes e n√£o relevantes:

In [43]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test['Classifica√ß√£o']=test['Unnamed: 1']
del test['Unnamed: 1']
test

                                                 Teste  Classifica√ß√£o
0    tudo q eu queria agr √© ta todo encolhido na sa...              1
1    queria um big mac, uma batata grande e um milk...              1
2    @its_lela @burgerkingbr desmereceram meu big m...              1
3           achei um big mac na geladeira que salvou ü§£              1
4    hoje minha fam√≠lia inteira jantou big mac. t√° ...              1
..                                                 ...            ...
195             j√° n√£o comia um big mac h√° algum tempo              0
196  o big mac r$0,99 mas nem isso eu tenho pra com...              0
197  "errado √© o febem quando foi comprar um big ma...              0
198  rt @mancheterevista: linha de frente do projot...              0
199  s√≥ um sushi ou um big mac p fechar c chave d o...              0

[200 rows x 2 columns]

### Removendo informa√ß√µes desnecess√°rias:

In [44]:
import re 

# Fun√ß√£o que remove pontua√ß√£o
def cleanup(texto):
    pontuacao = '[\/!-.:?;]'
    padroniza√ß√£o = re.compile(pontuacao)
    texto_substituido = re.sub(padroniza√ß√£o, '', texto)
    return texto_substituido

for i in range(200):
    # Usamos o m√©todo replace() para substituir uma frase especificada por outra frase especificada.
    # Removendo pontua√ß√£o com o replace
    test = test.replace(test['Teste'][i], cleanup(test['Teste'][i]))
    
    # Removendo 'rt' com replace
    if test['Teste'][i][:2] == 'rt':
        test = test.replace(test['Teste'][i], test['Teste'][i][3:])
    
    # Removendo '\n' com o replace
    test['Teste'] = test['Teste'].str.replace('[\n]','')
    
    # Deixando todas as letras min√∫sculas com replace:
    # O m√©todo lower() retorna uma string em que todos os caracteres s√£o min√∫sculos
    test = test.replace(test['Teste'][i], test['Teste'][i].lower())

In [45]:
test

                                                 Teste  Classifica√ß√£o
0    tudo q eu queria agr √© ta todo encolhido na sa...              1
1    queria um big mac uma batata grande e um milks...              1
2    @its_lela @burgerkingbr desmereceram meu big m...              1
3           achei um big mac na geladeira que salvou ü§£              1
4    hoje minha fam√≠lia inteira jantou big mac t√° f...              1
..                                                 ...            ...
195             j√° n√£o comia um big mac h√° algum tempo              0
196   o big mac r099 mas nem isso eu tenho pra comprar              0
197  errado √© o febem quando foi comprar um big mac...              0
198  @mancheterevista linha de frente do projota  p...              0
199  s√≥ um sushi ou um big mac p fechar c chave d o...              0

[200 rows x 2 columns]

### Compara√ß√£o para o Na√Øve-Bayes:

Para classificarmos os tweets da nossa planilha teste, vamos usar a determinada compara√ß√£o:
<br>
$P(1|tweet) > P(0|tweet)$
<br>
Ou seja, a probabilidade do meu tweet ser relevante √© maior que a probabilidade de ser irrelevante.
### Para que serve essa compara√ß√£o?

Justamente para determinarmos futuramente uma nova coluna na base de Teste de acordo com essa compara√ß√£o.

Sabemos que:<br>
$P(1|tweet) = \frac{P(tweet|1)P(1)}{P(tweet)}$
<br>
$P(0|tweet) = \frac{P(tweet|0)P(0)}{P(tweet)}$<br>
Entretanto, a Na√Øve-Bayes facilita os nossos c√°lculos, em que vamos desconsiderar o denominador, ou seja, iremos comparar apenas os numeradores.

### Suaviza√ß√£o de Laplace para $P(1|tweet)$:

In [46]:
# Agora vamos calcular dado um tweet, a probabilidade dele ser relevante.
# Para isso, precisamos descobrir dado um espa√ßo amostral de relev√¢ncia qual a probabilidade do meu tweet estar nele?
# Inicialmente, vamos definir a vari√°vel da probabilidade de ser relevante dado um tweet igual a probabilidade de uma palavra 
# ser relevante(logo logo voc√™ ir√° entender):
P_1dadoT = P_palavra_1
# agora vamos definir uma lista para armazenar essas vari√°veis:
lista_1 = []
#analisando um tweet:
for tweet in test.Teste:
    #analisando a palavra dentro do tweet:
    for palavra in tweet.split():
        if palavra not in series_1:
            P_1dadoT *= (0 + 1) / (series_1.sum() + len(series))
        else:
            P_1dadoT *= (series_1[palavra] + 1)/(series_1.sum() + len(series))
    lista_1.append(P_1dadoT)
    P_1dadoT = P_palavra_1
len(lista_1)

200

### Suaviza√ß√£o de Laplace para $P(0|tweet)$:

In [47]:
# Agora vamos calcular dado um tweet, a probabilidade dele ser irrelevante.
# Para isso, precisamos descobrir dado um espa√ßo amostral de irrelev√¢ncia qual a probabilidade do meu tweet estar nele?
# Inicialmente, vamos definir a vari√°vel da probabilidade de ser irrelevante dado um tweet igual a probabilidade de uma palavra 
# ser irrelevante(logo logo voc√™ ir√° entender):
lista_0 = []
# agora vamos definir uma lista para armazenar essas vari√°veis:
P_0dadoT =  P_palavra_0
#analisando um tweet:
for tweet in test.Teste:
    #analisando a palavra dentro do tweet:
    for palavra in tweet.split():
        if palavra not in series_0:
            P_0dadoT *= (0 + 1)/(series_0.sum() + len(series))
        else:
            P_0dadoT *= (series_0[palavra] + 1)/(series_0.sum() + len(series))
    lista_0.append(P_0dadoT)
    P_0dadoT = P_palavra_0
len(lista_0)

200

### Criando nova coluna de acordo com a compara√ß√£o para o Na√Øve-Bayes:

In [48]:
comparador_Naive_Bayes = []
for i in range(len(lista_1)):
    if lista_0[i] > lista_1[i]:
        comparador_Naive_Bayes.append(0)
    else:
        comparador_Naive_Bayes.append(1)
test['Compara√ß√£o'] = comparador_Naive_Bayes
test

,Teste,Classifica√ß√£o,Compara√ß√£o
0,tudo q eu queria agr √© ta todo encolhido na sa...,1,1
1,queria um big mac uma batata grande e um milks...,1,1
2,@its_lela @burgerkingbr desmereceram meu big m...,1,1
3,achei um big mac na geladeira que salvou ü§£,1,1
4,hoje minha fam√≠lia inteira jantou big mac t√° f...,1,1
...,...,...,...
195,j√° n√£o comia um big mac h√° algum tempo,0,1
196,o big mac r099 mas nem isso eu tenho pra comprar,0,0
197,errado √© o febem quando foi comprar um big mac...,0,1
198,@mancheterevista linha de frente do projota p...,0,0
199,s√≥ um sushi ou um big mac p fechar c chave d o...,0,1

In [59]:

print("Podemos notar de acordo com nosso classificador que a maioria das pessoas possuem um sentimento positivo em rela√ß√£o ao bigmac: {0} pessoas das 200,possuem sentimento positivo.".format(len(test.loc[test.Compara√ß√£o == 1,:])))

Podemos notar de acordo com nosso classificador que a maioria das pessoas possuem um sentimento positivo em rela√ß√£o ao bigmac: 125 pessoas das 200,possuem sentimento positivo.

### Acur√°cia:

In [49]:
exatidao = 0
for i in range(200):
    if test['Classifica√ß√£o'][i] == test['Compara√ß√£o'][i]:
        exatidao += 1
print('Tivemos um total de {0}% de exatid√£o.'.format((exatidao/200)*100))

Tivemos um total de 75.5% de exatid√£o.

### Tabela de visualiza√ß√£o:

In [50]:
tabela = pd.crosstab(test['Classifica√ß√£o'],test['Compara√ß√£o'], normalize = True)*100
tabela

Compara√ß√£o        0     1
Classifica√ß√£o
0              31.5  18.5
1               6.0  44.0

### Resultados:

In [60]:
print('Verdadeiros Negativos: {0}%'.format(tabela[0][0]))
print('Falsos Negativos: {0}%'.format(tabela[1][0])) 
print('Falsos Positivos: {0}%'.format(tabela[0][1].round(1)))
print('Verdadeiros Positivos: {0}%'.format(tabela[1][1]))

Verdadeiros Negativos: 31.5%
Falsos Negativos: 18.5%
Falsos Positivos: 6.0%
Verdadeiros Positivos: 44.0%

___
## Conclus√£o

De acordo com a acur√°cia, obtivemos uma exatid√£o de 75.5% de acertos, tomando como compara√ß√£o o nosso classificador. Isso significa que apesar de diversos fatores, os integrantes do grugo apresentaram uma concep√ß√£o parecida em rela√ß√£o ao crit√©rio de avalia√ß√£o dos tweets (Um sentimento positivo ao "Big Mac").

Somando os falsos negativos com os falsos postivos chegamos a uma porcentagem baixa de 24,5% de erros(Valores que n√≥s avaliamos diferentemento do classificador).

Vale ressaltar que essa exatid√£o √© influenciada por outros diversos fatores que impedem uma frequ√™ncia de 100% nas classifica√ß√µes, como por exemplo: o contexto na qual o "tweet" foi escrito, a ironia (sarcasmo),e a dupla nega√ß√£o,pois como de forma simplificada o que o nosso classificador faz √© contar palavras,e ele n√£o sabe se essa palavra que contou est√° sendo utilizada em um contexto ironico ou de dupla nega√ß√£o,portanto n√£o sendo totalmente efetivo.Al√©m de n√£o entender o significado de cada emoji e os usu√°rios marcados etc.

Ap√≥s a nossa an√°lise verificamos que o p√∫blico realmente tem uma rela√ß√£o positiva com o bigmac.Podemos notar de acordo com nosso classificador que a maioria das pessoas possuem um sentimento positivo em rela√ß√£o ao bigmac: 125 pessoas das 200,possuem sentimento positivo.Ent√£o esse projeto deve continuar a ser investido para que essa rela√ß√£o de afinidade com o p√∫blico continue sendo monitorada.

<h3> Por por que n√£o posso alimentar minha base de Treinamento
automaticamente usando o pr√≥prio classificador, aplicado a novos tweets? </h3> 

N√≥s n√£o podemos utilizar o nosso pr√≥prio classificador para novas amostras pois,em seu funcimento ele utiliza uma base pr√© existente e se utilizamos ele para alimentar o treinamento ele come√ßaria a comparar esses novos exemplos com ele mesmo.
<h3>Diferentes cen√°rios para o Naive-Bayes</h3>

Podemos utilizar o classificado de Naive-Bayes principalmente em an√°lise de textos,filtragem de spam,probabilidade de hip√≥teses.

<h3>Sugest√£o de melhorias</h3>
1 . Aumentar o n√∫mero de integrantes da equipe que manualmente classificam os tweets pois dessa maneira o classificador vai entender melhor o conceito de relev√¢ncia e irrelev√¢ncia de determinado grupo.
<br>
2 . A partir de padr√µes seria interessantes se o classificador notar a presen√ßa de ironia e dupla nega√ß√£o para que esses erros n√£o influenciem negativamente,j√° que √© um uso comum a ironica e a dupla nega√ß√£o
<br>
3.Segmentar melhor as informa√ß√µes para que o classificador n√£o tenha tantos problemas na classifica√ß√£o pois o tema/grupo que est√° sendo analisado √© menor e mais espec√≠fico.
<br>
https://machinelearningmastery.com/better-naive-bayes/

___
## Refer√™ncias

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**